/*Estilos generales*/

:root{
    --color-negro: #0D0B0B;
    --color-blanco: #D9D9D9;
    --color-verde: #2C4B35;
    --color-gris:  #DADADA;
    --color-gris-oscuro: #ffffff9e;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total del elemento */
    
}

a{
    text-decoration: none;
    color: #D9D9D9;
}
body{
    background-color: var(--color-negro);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5rem;
     color: var(--color-blanco);
   
}
p{
    font-size: clamp(0.1rem, 0.3vw + 0.7rem, 1.1rem);
}
h3{
    color: var(--color-blanco);
}
/*Encabezado Menu*/
.index-header{
    height: 100vh;
    width: auto;
    background-image:url(../img/fondo_header_nuevo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*Contenido encabezado*/
.container-portada-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;
    padding-top: 80px;
    height: 100%;
    align-items: center;

}
.texto-portada-header, .imagen-portada-header{
    height: 87vh;
    width: 35vw;
}
.texto-portada-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}
.h1-inicio{
    font-size: 2.5rem;
}
.index-header-btn{
    background-color: #000;
    color:var(--color-blanco);
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 40%;
    border-radius: 0.2rem;
    width: fit-content;

}
.imagen-portada-header{
  
    display: flex;
    justify-content: center;
    align-items: end;
}
.modelo-verde{
   height: 100%; 
        width: 100%; 
    object-fit: contain;
}

/*Sección informativa a cerca de reveon: zorro, slogan*/
/*zorro */
.item-imagen-zorro{
    display: flex;
    justify-content: start;
    align-items: end;
}
.zorro_artico{
    width: 100%;
    height: auto;
}
.item-info-zorro{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem 5rem 0 5rem; /*arriba, derecha, abajo, izquierda*/
}
.item-info-zorro h2{
    font-size: 2rem;
}

.info-zorro-btn{
    background-color: var(--color-verde);
    color:var(--color-blanco);
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
     width: fit-content;
    border-radius: 0.5rem;
}
/*Slogan*/

.item-slogan{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    position: relative;
    height: fit-content; 
    overflow: hidden; /* Oculta las partes de las imágenes si se salen */
}
.slogan{
    display: flex;
    margin: 0 8vw;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    z-index: 2;

}
.inicial-estilo{
   font-family: "Pinyon Script", cursive;
   font-weight: 200;
   font-size: clamp(6rem, 10vw, 13rem);
   line-height: 1;
}
.slogan h3{
    font-size: clamp(3rem, 5vw + 1rem, 12rem);
    line-height: 2;
}
.slogan p{
    font-size:  clamp(1rem, 2vw + 0.5rem, 4.2rem);
    font-family: "Vollkorn", serif;
    margin-top: -1rem; 
    margin-bottom: -1rem;
}
.container-modelo-marron{
    height: 90%;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 3%;
    z-index: 1;
}
.container-modelo-marron img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.container-flor-naranja{
    height: 100%;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 5%;
    z-index: 1;
}
.container-flor-naranja img{
    height:100%;
    width: auto;
    object-fit: contain;
}

/*Estilo Main*/
.titulo-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.titulo-productos h2{
    font-size: clamp(2rem, 5vw + 0.5rem, 2.8rem);
}
.grid-container-productos{
    margin: 0 4rem 0 4rem ; /*arriba, derecha, abajo, izquierda*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
    padding-bottom: 1rem;
    background-color: transparent;
}
.imagen-producto{
    background-color: var(--color-gris);
    height: 25rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

.imagen-producto img{
    height: 80%;
    width: auto;
}
.card p{
    color: var(--color-gris);
}
/*video*/
.video {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
}



/*Media Queries Desktop first*/
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .container-fluid{
        padding:  1rem 11rem 0 11rem ; /*arriba, derecha, abajo, izquierda*/ 
    }
    p{
        font-size:1rem;
    }
    .container-modelo-marron {
        height: 80%;
        left: 5%;
    }
    
    .container-flor-naranja {
        height: 80%;
        right: 5%;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
    .container-fluid{
        padding:  1rem 9rem 0 9rem ; /*arriba, derecha, abajo, izquierda*/ 
    }
     .item-info-zorro {
        padding: 3rem 5rem 0 3rem;
    }
    .container-modelo-marron {
        height: 80%;
        left: 0;
    }
    
    .container-flor-naranja {
        height: 80%;
        right: 0;
    }
    
}
/* `xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .container-fluid{
        padding:  1rem 9rem 0 9rem ; /*arriba, derecha, abajo, izquierda*/ 
    }
    .item-info-zorro {
        padding: 3rem 4rem 3rem 3rem;
    }
    .container-modelo-marron {
        height: 72%;
        left: 0;
    }
    
    .container-flor-naranja {
        height: 72%;
        right: 0;
    }
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
     .index-header{
        height: auto;
        min-height: 100vh;
    }
    .container-fluid{
        padding:  1rem 6rem 0 6rem ; /*arriba, derecha, abajo, izquierda*/ 
    }
    .logo-mobile-center {
        position: absolute;   
        left: 50%;            /* Lo movemos al 50% */
        transform: translateX(-50%); /* Lo ajustamos para el centro exacto */
        z-index: 1100; /* El logo queda encima del menú */
    }

    /* Asegurar que la barra de navegación se mantenga fija en la parte superior */
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1090;
    }
    /* Ajustes para el menú colapsable */
    .navbar-collapse {
        position: absolute;
        top: 100%; /* justo debajo de la barra */
        left: 0;
        width: 100%;
        background-color: var(--color-negro);
        z-index: 1080; /* Debajo del logo pero encima del resto de la página */
    }
    /*Sección modelo con bolso verde*/
  .container-portada-header{
    flex-direction: column-reverse;
    min-height: 100vh;
    height:auto;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .texto-portada-header{
        width: 75%; 
        height: auto; 
        margin: 0 auto;
        text-align: center;
        align-items: center;
        font-size: 1rem;
  }
  .h1-inicio{
    font-size: 2rem;
  }
   .imagen-portada-header{
    margin-top: 2rem; 
        height: 60vh; 
        width: 100%; 
        margin: 1rem auto 0 auto; 
        

    }
    .modelo-verde{
        height: 95%; 
        width: 100%; 
        /* Aseguramos que la imagen se ajuste dentro de su contenedor (el cuadrado rosa) */
        object-fit: contain;
    }
    .item-info-zorro{
        text-align: start;
        padding: 1rem 1.5rem 3rem 1.5rem;
    }
     .item-slogan {
        padding-top: 2rem;
    }
    
    .slogan {
        margin: 0 4rem;
    }

    
    .container-modelo-marron {
        height: 72%;
        left: 0;
    }
    
    .container-flor-naranja {
        height: 72%;
        right: 0;
    }
}
/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
     .item-info-zorro{
         height: auto; 
        margin: 0 auto;
        text-align: center;
        align-items: center;
        padding: 2rem 3.3rem 3rem 3.3rem; /*arriba, derecha, abajo, izquierda*/
    }
    .item-slogan {
        height: 40vh; 
        padding-top: 1rem;
    }
    .slogan {
        margin: 0 2rem;
    }
    
    .container-modelo-marron {
        height: 67%;
        left: 0;
    }
    
    .container-flor-naranja {
        height: 65%;
        right: 0;
    }
}
/*`sm` applies to x-small devices (portrait phones, less than 576px)*/ 
@media (max-width: 575.98px) { 
    .container-fluid{
        padding: 1rem 2rem 0 2rem ; /*arriba, derecha, abajo, izquierda*/ 
    }
    .inicial-estilo {
        font-size: clamp(4.5rem, 0.2vw + 1rem, 4rem);
    }
    
     .item-slogan {
        height: 60vh;
        padding-top: 2rem;
    }
    .container-modelo-marron {
        height: 60%;
        left: 0;
    }
    .container-flor-naranja {
       height: 60%;
        right: 0;
    }
}