/*Estilos generales*/

:root{
    --color-negro: #0D0B0B;
    --color-blanco: #f8f8f9;
    --color-verde: #2C4B35;
    --color-gris:  #DADADA;
    --color-gris-oscuro: #ffffff9e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total del elemento */
      color: var(--color-blanco);
}
a{
    text-decoration: none;
}
body{
    background-color: var(--color-negro);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
/*Encabezado Menu*/
.index-header{
    height: 100vh;
    width: auto;
    background-image:url(../img/fondo_header_nuevo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    padding: 1.5rem;
}
.header-logo h3{
    font-size: 1.5rem;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
}

.carrito-header a i{
   font-size: 1.3rem;
}
/*Contenido encabezado*/
.container-portada-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;

}
.texto-portada-header, .imagen-portada-header{
    height: 87vh;
    width: 35vw;
}
.texto-portada-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.h1-inicio{
    font-size: 2.5rem;
}
.texto-portada-header{
    font-size:  1.1rem;
}
.index-header-btn{
    background-color: #000;
    color:var(--color-blanco);
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 40%;
    border-radius: 0.2rem;

}
.imagen-portada-header{
    display: flex;
    justify-content: center;
    align-items: end;
}
.modelo-verde{
    width: auto;
    height: 95%;
}

/*Sección informativa a cerca de reveon: zorro, slogan*/
.container-info-reveon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    row-gap: 2rem;
}
/*zorro */
.item-imagen-zorro{
    display: flex;
    justify-content: start;
    align-items: start;
}
.zorro_artico{
    width: 40vw;
    height: auto;
}
.item-info-zorro{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem 15rem 0 5rem ; /*arriba, derecha, abajo, izquierda*/
}
.item-info-zorro h2{
    font-size: 2rem;
}
.item-info-zorro p{
    font-size: 1.1rem;
}
.info-zorro-btn{
    background-color: var(--color-verde);
    color:var(--color-blanco);
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    width: 40%;
    border-radius: 0.5rem;
}
/*Slogan*/

.item-slogan{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    position: relative;
}
.slogan{
    display: flex;
    margin: 0 8rem 0 8rem ; /*arriba, derecha, abajo, izquierda*/
    flex-direction: column;
    gap: 2rem;
    text-align: center;

}
.inicial-estilo{
   font-family: "Pinyon Script", cursive;
   font-weight: 200;
   font-size: 13rem;
}
.slogan h3{
    font-size: 8rem;
}
.slogan p{
    font-size: 5rem;
    font-family: "Vollkorn", serif;
}
.container-modelo-marron{
    height: 34rem;
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 3%;
}
.container-modelo-marron img{
    height: 100%;
    width: auto;
}

.container-flor-naranja{
    height: 35rem;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 2%;
}
.container-flor-naranja img{
    height:100%;
    width: auto;
}

/*Estilo Main*/
.titulo-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.titulo-productos h2{
    font-size: 2rem;
}
.grid-container-productos{
    margin: 0 8rem 0 8rem ; /*arriba, derecha, abajo, izquierda*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
    padding-bottom: 1rem;
}
.imagen-producto{
    background-color: var(--color-gris);
    height: 25rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

.imagen-producto img{
    height: 80%;
    width: auto;
}
.card p{
    color: var(--color-gris-oscuro);
}
/*video*/
.video {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
}